@charset "UTF-8";
.wrap{
	margin: 0 auto;
	width: 1080px;
	height: 100vh;
}
.main-content {
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	/* display: flex;
	flex-direction: column; */
}
body, td, select, div, textarea, center {
	color: #202020;
	font-size: 14px;
}
.subtitle {
	table-layout: fixed;
	width:100%;
	border-spacing: 2px;
}
