@charset "EUC-KR";

*{
 	font-family: ‘Noto Sans KR’, sans-serif;
 		 
}

.btn_option{
	background-color: #555555;
	border: none;
	color: white;
}
		
.search_btn{
	background-color: #00498c;
	border: none;
	color: white;
}

/* 테이블 제목 부분 - 회색칠 */
.table_title{
	background-color: #DCDCDC;
}

/* 테이블 내용 부분 - 흰색칠 */
.table_content{
	
	 background-color: #ffffff;
}

/* 테이블 상단 감싸는 하늘색 줄 */		
.userList_wrap{
	border-top: 2px solid #1E90FF;
	font-size: 16px;
}
		
.wrap{
	font-size: 16px;
	width: 1080px;
	margin: 0 auto;
}
		
.list_head{
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}
		
.list_head table{
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}
		
.mainTitle{
	
	border-style: solid;
	background-color: #e9e9e9;
	height: 30px;
}
		
table tr td{
	text-align: center;
}

table td{
	border: 1px solid #d3d3d3;
	
}

#tableGroup{
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
	width: 100%;
}

/* 총 n명의 회원이 검색되었습니다. */
.middle_titleBox{
	border-style: solid;
	border-width: 0 0 0 8px;
	padding: 12px;
	word-bread: break-all;
	border-color: #1E90FF;
	background-color: #e9e9e9;
}
		
.btnGroup{
	position: relative;
}
		
.excelBtn{
	position: absolute;
	top: 0;
	right: 0;
}
		
.pagination{
    list-style : none;
    display: inline-block;
    margin: 10px 0 0 10px;      
}

 .pagination li{
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding: 3px;
    font-weight: 50;
 }
  
a:link {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover {color:black; text-decoration: underline;}
		