@charset "UTF-8";
* { font-family: ‘Noto Sans KR’, sans-serif;
}

/* 페이지 가능 윗부분 - 전체테이블 윗부분 */
.bar{
	padding: 8px 0px 8px 2px;
	margin-bottom: 20px;
	font-size: 17px;
	font-weight: bold;
}


/* 페이지 상단에서 2번째로 오는 상품등록 상품목록 부분 */
.sub-menu {
	background-color: #EEEEEE;
	padding: 5px 0px 5px 10px;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
}

.sub-menu ul{
	display: block;
	overflow: hidden;
	width: 760px;
	margin: 0 auto;
	padding-top: 5px;
	text-align: left;
}

.sub-menu ul li {
	float: left;
	height: 25px;
	line-height: 25px;
	width: 120px;
}


/* 전체 테이블 안의 div */
.main-content {
	width: 100%;
	margin: 0 auto;
	padding-top: 15px;
}


/* 각 테이블 상단의 파란색문장 부분 */
.sub-title {
	height: 18px;
	font-size: 16px;
	font-weight: bold;
	color: #317CC1;
	margin-right: 5px;
	padding-bottom: 8px;
	text-align: left;
}


/* body, td, select, div, textarea, center태그에 공통으로 적용되는 기능 */
body, td, select, div, textarea, center {
	color: #202020;
	font-size: 14px;
}


/* 각 테이블태그와 테이블 안에 사용되는 기능모음 */
.table {
	table-layout: fixed;
	width:100%;
	border-spacing: 2px;
}

.table1{
	border-collapse: collapse;
}

.table_line td, .table_line th {
	border: 1px solid #d7d7d7;
}

.table1 tr th{
	color: #202020;
	background : #F7F7F7;
	padding: 4px 8px;
	text-align: left;
	vertical-align: middle;
	padding-left: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.table1 tr td {
	color: #202020;
	padding: 4px 8px;
	padding-left: 10px;
	line-height: 30px;
}

.line_top {
	border-top: 2px solid #6699cc;
}

.table_line tbody td, {
	border: 1px solid #d7d7d7;
}




/* 첫번째 테이블의 td의 설명하는 문장 부분의 기능 모음 */
.helper {
	line-height: 1em;
	color: gray;
	font-weight: bold;
}

.mt5 {
	margin-top: 5px;
}

.blue {
	color: #3156c1;
	font-size: 14px;
}


/* 빨간색글씨 문장을 나타내는 <span>태그의 속성 */
.red {
	font-size: 14px;
	color: #FF4040;
}


/* 첫번째 테이블의 이미지 찾기 버튼을 감싸는 div태그 속성 */
.file_div {
	position: relative;
	overflow: hidden;
	float: left;
}


/* 첫번째 테이블의 이미지 찾기 버튼 속성 */
.file_button {
	margin-top: 5px;
	margin-bottom: 15px;
}


/* 첫번째 테이블의 ul태그 기능 */
#file_list {
	float: left;;
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
}


/* 첫번째 테이블(| 상품 기본정보)의 이미지를 감싸는 div태그 속성 */
.img-body {
	width: 125px;
	height: 80px;
}


/* 첫번째 테이블(|상품 기본정보)의 ul태그 (이미지를 포함하고 있음) */
.ui-sortable {
	width: 635px;
	height: 107px;
	display: flex;
}
/* 첫번째 테이블(|상품 기본정보)의 ui태그 (이미지를 포함하고 있음) */
.ui-sortable-handle {
	touch-action: none;
	border: 1px solid #dedede;
	color: #202020;
	font: 12px;
	margin: 0px 5px 5px 0px;
	padding: 10;
}



/* al_middle는 |옵션정보 |추가옵션 테이블의 tbody또는 thead의 텍스트가 중앙정렬되는 속성 */
.al_middle tr th, .al_middle tr td{
	text-align: center;
	vertical-align: middle;
	height: 28px;
	line-height: 20px;
}


/* |옵션정보의 두번째 테이블의 thead td의 input태그 속성 */
.wid-cen {
	width: 90px; 
	text-align: center;
}


/* |상품상세정보 - 웹(Web), |상품상세정보 - 모바일(Mobile), |관련상품 을 감싸는 최상위 div */
.box-line {
	border: solid 1px #D7D7D7;
	padding: 10px;
	border-top: 2px solid #6699cc;
}


/* button태그를 감싸는 div부분 */
.btn-box {
	text-align: center;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}


/* 버튼 기능 모음 */
.btn {
	border-radius: 3px;
	padding-bottom: 3px;
	line-height: 15px;
	background-color: gray;
	color: white;
}

.btn-lg {
	font-size: 16px;
	height: 31px;
	padding: 1px 20px 3px 20px;
	border-radius: 5px;
}

.btn-sm {
	font-size: 14px;
	height: 25px;
	padding-right: 15px;
	padding-left: 15px;
}

.btn-blue {
	background-color: #4d90fe;
}

.btn-red {
	background-color: red;
}

.btn-grey {
	font-size: 13px;
	height: 28px;
	padding: 1px 15px 3px 15px;
	border-radius: 2px;
	background-color: #dedede;
	color: black;
	border: 1px solid #A2A2A2;
}

.img-btn {
	padding: 1px 6px 3px;
	position: absolute;
}


.lbl { /* <lable>태그 속성 */
	margin-right: 15px;
	display: inline-block;
}


/* 마지막 테이블(|관련상품)의 td 속성 */
.sel-style{
	vertical-align: middle;
    padding-left: 10px;
    border: 1px solid #ddd;
}

/* 마지막 테이블(|관련상품)의 ul 속성 */
.sortable {
	display: flex;
	border: 1px solid #ddd;
	padding-left: 5px;
}

.sortable li{
	position: relative;
	margin: 4px 6px 4px 0;
	padding: 5px;
	float: left;
	width: 160px;
	height: 140px;
	font-size: 4em;
	text-align: center;
	border: 1px solid #dedede;
}

.sortable li div {
	font-size: 13px;
	line-height: 150%;
}

/* 마지막 테이블(|관련상품)의 ul의 li의 div 속성 */
.del {
	text-align: right;
	height: 17px;
}

/* 마지막 테이블(|관련상품)의 가격을 나타내는 div 속성 */
.f-red {
	color: #FF4040;
	
}

/* 마지막 테이블(|관련상품)의 td중 회식백그라운드 부분 속성 */
.gray_bg {
	background-color: #f7f7f7;
	line-height: 35px;
	padding: 3px 7px;
	vertical-align: middle;
	border: 1px solid #dedede;
}




/* 옵션정보 테이블의 옵션등록버튼 클릭시, 또는 추가옵션 테이블의 추가옵션등록버튼 클릭시 나타나는 팝업창의
	최상위 div태그 속성 */
.option_regist {
	position: absolute;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(51, 51, 51);
	padding: 10px;
	text-align: center;
	width: 500px;
	left: 480px;
	top: 1118px;
}



/* |관련상품테이블(마지막테이블)에서 상품추가버튼 클릭시 나타나는 팝업창(등록폼) */
#goodsAdd_frame {		/* 최상위 div */
	position: absolute;
	background-color: #fff;
	border: 2px solid black;
	width: 800px;
	top:50px;
	left:50px;
	margin-top:1718px;
	margin-left:500px;
	display:block;
	padding: 10px;
	z-index: 51;
}

.titlebar {		/* 두번째 div  */
	position: relative;
	height: 20px;
	padding: 0;
}

.addTable {	/* table 속성(팝업창의 table태그에만 해당되는 속성) */
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	width: 100%;
	border: 1px solid #dedede;
	cellpadding:5;
	cellspacing:0;
	table-layout: fixed;
}

#tip {	/* <SPAN>태그 -> 팝업창의 가장 윗부분인 |상품선택 */
	margin-left: 6px;
	color: #3399FF;
	letter-spacing: -1px;
}

.gray_bg {	/* 첫번째테이블의 tbody의 td 속성 */
	background-color: #f7f7f7;
	padding-left: 5px;
}

.simpleform { /* 첫번째 테이블의 상품명 입력하는 input태그 속성 */
	font: 12px;
	line-height: 1.3em;
	background-color: #f9f9f9;
	color: #333333;
	border: 1px solid #cccccc;
	height: 22px;
	pause: 3px 3px 0px 3px;
	width: 200px;
}


#popupGoodsTable tbody td { /* popupGoodsTable : 두번째 테이블의 속성 */
	vertical-align: middle;
	line-height: 15.5px;
}

#popupGoodsTable tbody th {
	text-align: center;
	line-height: 15.5px;
}

.shop_img {		/* 두번째 테이블의 이미지를 감싸는 td 속성 */
	line-height: 20px;
}

.input-file-btn{
	padding: 6px 25px;
	background-color: #317CC1;
	border-radius: 4px;
	color: white;
	cursor: pointer;
}
*#fileItem{
	display: none;
}

#result_card img{
		max-width: 100%;
	    height: auto;
	    display: block;
	    padding: 5px;
	    margin-top: 10px;
	    margin: auto;	
	}
	
#result_card {
	position: relative;
}
.imgDeleteBtn{
    position: absolute;
    top: 0;
    right: 5%;
    background-color: black;
    color: white;
    font-weight: 900;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    border: none;
    display: block;
    cursor: pointer;	
}

.ck-content{
	height: 200px;
}

.discount{
	display: block;
	padding-top: 5px;
	font-weight: 500;
}	