@charset "UTF-8";

* { font-family: ‘Noto Sans KR’, sans-serif;
}


/* 페이지 가능 윗부분 - 전체테이블 윗부분 */
.bar{
	padding: 8px 0px 8px 2px;
	margin-bottom: 20px;
	font-size: 17px;
	font-weight: bold;
}


/* 전체테이블 안의 tbody 안의 div 부분 */
.main-content {
	width: 100%;
	margin: 0 auto;
}


/* body, td, select, div, textarea, center태그에 공통으로 적용되는 기능 */
body, td, select, div, textarea, center {
	color: #202020;
	font-size: 15px;
}


/* 각 테이블 상단의 파란색문장 부분 */
.sub-title {
	height: 18px;
    font-size: 16px;
    font-weight: bold;
    color: #317CC1;
    margin-right: 5px;
    padding-bottom: 8px;
    text-align: left;
}


/* 각 테이블태그와 테이블 안에 사용되는 기능모음 */
.table {
	table-layout: fixed;
	width:100%;
	border-spacing: 2px;
}

.table1 {
	border-collapse: collapse;
	border-spacing: 0;
}

.table1 tr th{
	color: #202020;
	background : #F7F7F7;
	padding: 4px 8px;
	text-align: justify;
	vertical-align: middle;
	padding-left: 10px;
	line-height: 40px;
}

.table1 tr td {
	color: #202020;
	padding: 4px 8px;
	text-align: justify;
	padding-left: 10px;
	line-height: 40px;
}

.line_top {
	border-top: 2px solid #6699cc;
}

.table_line td, .table_line th {
	border: 1px solid #d7d7d7;
}


/* input태그를 감싸는 lable태그 */
.lbl {
	margin-right: 15px;
	display: inline-block;
}


/* button태그를 감싸는 div부분 */
.btn-box {
	text-align: center;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}


/* 버튼태그에 사용되는 기능 모음 */
.btn {
	border-radius: 3px;
	padding-bottom: 3px;
	line-height: 15px;
	background-color: gray;
	color: white;
}

.btn-lg {
	font-size: 16px;
	height: 31px;
	padding: 1px 20px 3px 20px;
	border-radius: 5px;
}

.btn-blue {
	background-color: royalblue;
	color: white;
}


