@charset "EUC-KR";

*{
  font-family: ‘Noto Sans KR’, sans-serif;
  
  
}

.btn_option{
	background-color: #555555;
	border: none;
	color: white;
}
		
.search_btn{
	background-color: #00498c;
	border: none;
	color: white;
}

/* 테이블 상단 감싸는 하늘색 줄 */
.breakList_wrap{
	border-top: 2px solid #1E90FF;
	font-size: 16px;
}
		
.wrap{
	font-size: 16px;
	width: 1080px;
	margin: 0 auto;
	
}

.list_head{
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	
	
}

/* 테이블 제목 부분 - 회색칠 */
.table_title{
	background-color: #DCDCDC;
}

/* 테이블 내용 부분 - 흰색칠 */
.table_content{
	
	 background-color: #ffffff;
}

.list_head table{
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	background-color : #ffffff;
}

/* 탈퇴이유 버튼 클릭시 나오는 열 숨김 처리 */	
#delReason{
	display:none;
}

.mainTitle{
	
	border-style: solid;
	background-color: #e9e9e9;
	height: 30px;
}


.middle_titleBox{
	border-style: solid;
	border-width: 0 0 0 8px;
	padding: 12px;
	word-bread: break-all;
	border-color: #1E90FF;
}

table tr td{
	text-align: center;
}

table td{
	border: 1px solid #d3d3d3;
	
}


#tableGroup{
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
	width: 100%;
}

.page_wrap{
	text-align: center;
	font-size: 0;
}
		
.page_nation{
	display: inline-block;
}
		
.page_nation .arrow{
	border: 1px solid;
}
		
.page_nation a{
	display: block;
	margin: 0 3px;
	float: left;
	border: 1px solid #e6e6e6;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: #999999;
	text-decoration: none;
}
		
.page_nation .pprev{
	background: #f8f8f8 url('../../Img/PageIcon/page_pprev.png') no-repeat center center;
	margin-left: 0;
}
		
.page_nation .prev{
	background: #f8f8f8 url('../../Img/PageIcon/page_prev.png') no-repeat center center;
	margin-right: 7px;
}
		
.page_nation .next{
	background: #f8f8f8 url('../../Img/PageIcon/page_next.png') no-repeat center center;
	margin-left: 7px;
}
		
.page_nation .nnext{
	background: #f8f8f8 url('../../Img/PageIcon/page_nnext.png') no-repeat center center;
	margin-right : 0;
}
		
.page_nation a.selectPage{
	color: #ff9f40;
}