@charset "UTF-8";
#review{
	margin:0;
}
.side_title {
	padding: 30px 0 10px 20px;
    font-size: 28px;
    color: #333;
    letter-spacing: -1px;
}

.sidemenu ul {
	list-style-type: none;
	padding: 0px 0 8px 20px;
	
}

.sidemenu ul li {
	width:180px;
	height:50px;
	font-size: 14px;
	color: #666;
	text-decoration: none;
	padding: 14px 0px 0px 20px;
	border: 1px solid #f2f2f2;
	line-height: 19px;
	position: relative;
	transition:ease 0.3s;
}

.sidemenu ul li:hover{
	background:#f6f6f6;
}

.sidemenu ul li a {
	display: inline-block;
	width:100%;
	height:100%;
}

.sidemenu ul li a i {
	position: absolute;
	right: 16px;
	top: 17px;
	color: #999;
}

.help {
    width: 180px;
    height: 80px;
    padding: 10px 34px 41px 19px;
    border-radius: 0 100px 100px 0;
    background-color: #fafafa;
    font-size: 14px;
    margin-left: 20px;
}

.inquiry {
	margin-top: 20px;
}

.inquiry a p {
	display: inline-block;
	font-size: 12px;
	margin-left: 39px;
	margin-top: 7px;
}



