@charset "EUC-KR";

*{
 	font-family: ‘Noto Sans KR’, sans-serif;
 		 
}

.grayBg{
	background-color: #e9e9e9;
}
.whiteBg{
	background-color: #ffffff;
}

table{
	border: 1px solid #d3d3d3;
	border-collapse: collapse;
}

table td{
	border: 1px solid #d3d3d3;
	text-align: center;
}