@charset "UTF-8";
*{
    font-family: 'Noto Sans KR', sans-serif;
}

.designEntireSetting{
	width: 1080px; 
	margin: 0 auto;
}

.entireSetting p{
	text-align: left;
	color:#595959;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
}

.entireSetting table{
	 border: 1px solid;
	 width: 1080px; 
	 height: 100px; 
	 text-align: center;
}

.entireSetting td{
	border: 1px solid;
	width: 500px;
	background-color: #e9e9e9;
	padding: 10px;
}

.entireSetting2 table{
	 border: 1px solid;
	 width: 900px; 
	 height: 100px;

}

.entireSetting2 td{
	text-align: left;
}

.entireSetting2 .eStd1{
	width: 200px;	
	background-color: #e9e9e9;
}

.entireSetting2 td{
	background-color: white;
	padding: 10px;
}

.entireSetting .eStd2{
	text-align: left;
	background-color: white;
}

.pageUpImgSetting {
	margin-top: 30px; 
	text-align: left;	
}

.pageUpImgSetting p{
	display: inline-block;
}

.pUISTitle1 {
	text-align: left;
	color: #595959;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
}

.pUISTitle2 {
	text-align: left;
	color: red;
	margin: 5px;
	font-size: 13px;
}

.pUISTitle3 {
	text-align: left;
	color: blue;
	margin: 5px;
	text-decoration: underline;
	font-size: 12px;
}

.pageUpImgSetting table{
	border: 1px solid;
	width: 1080px; 
	height: 100px; 
	text-align: center;
	background-color: white;
}

.pageUpImgSetting td{
	border: 1px solid;
	padding: 10px;
}

.pUISu{
	background-color: #e9e9e9;
}

.pUISImg {
	height: 300px;
}

.copyright p {
	text-align: left;
	color:#595959;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 30px;
}

.copyright textarea {
	width: 1080px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 300px;
}

.preparedPage p {
	text-align: left;
	color:#595959;
	margin: 5px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 30px;
}

.preparedPage textarea {
	width: 1080px;
}

.desSave {
	margin: 10px;
	text-align: center;
}